<h1>Results Page!</h1>
<ul>
    <% data["Search"].forEach(function(business) { %>
        <li>
            <strong>
                <%= business["Name"] %> 
            </strong>
                - <%= business["Location"]%>
        </li>
    <% }) %>
</ul>

<a href="/">Search Again!</a>